body{
	background-color: grey !important; 
}

.image-holder {
	float: inherit !important;
	top: 81px;
}

.likes {
	margin-top: 123px;
    text-align: center;
}

.comments {
	margin-top: 50px;
}

.charts {
	float: right;
    /* top: 132px; */
    position: relative;
    top: 81px;
}

.likeButton {
	float: left;
    font-size: 30px;
    color: red;
    padding-left: 48px;
}
.dislikeButton {
	float: right;
	font-size: 30px;
    color: orange;
    padding-right: 48px;
}
.commentlabel {
	    font-size: 25px;
    float: left;
}
.comments {
	text-align: left;
	color: white;
}

.trash {
	float: right;
}