<div ng-controller="commentsCtrl" class="comments">
  	<div class='col-md-12'>
        <form>
          <label class="commentlabel">Comments:</label>
            <div class="form-group">
              <textarea  class="form-control col-md-12" rows="5" id="comment" ng-model='text'></textarea>
            </div>
            <div>
              <input class='button btn btn-primary' ng-click='submit()' type='submit' value='Submit' style="
                float: right;
                margin: 10px;">
            </div>
        </form>
        <div class="col-sm-8">
        <ul class="comments">
          <li ng-repeat='comment in comments'>
              <div>
              <span>
                {{comment.text}}
              </span>
                <span>
                  <i class='fas fa-trash trash' ng-click='drop(comment)'></i>
                </span>
            </div>
          </li>
        </ul>
      </div>
  </div>
</div>