<img class="image-holder col-md-8 container-fluid img-responsive" ng-controller="maxController" ng-src="{{image}}"></img>
<div ng-controller="likesController" class="likes container">
	<i class="fas fa-heart likeButton" ng-click="increment()"></i>
  count: {{count}}
  <i class="fas fa-thumbs-down dislikeButton" ng-click="decrement()"></i>
<div>
<comments-directive></comments-directive>