<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">MaxApp</a>
    </div>
    <ul class="nav navbar-nav">
    	<li><a href="/home">Home</a></li>
      <li><a href="/charts">Charts</a></li>
    </ul>
  </div>
</nav>