<div class="charts">
	<p class="col-sm-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse bibendum lorem et magna suscipit, a faucibus mi euismod. Vivamus euismod, odio nec bibendum venenatis, sem dui dapibus urna, ac imperdiet neque arcu non sapien. Phasellus mollis imperdiet mi, nec tincidunt nunc bibendum quis. Aenean non nisi ac odio fermentum consectetur. Praesent efficitur mauris vitae magna hendrerit tincidunt. Mauris tellus metus, porttitor a mi in, gravida efficitur tortor. Mauris suscipit leo eu erat tincidunt, at accumsan nisi mollis. Mauris mattis sem ante, nec sodales eros cursus non. Aliquam sit amet nisi sem. Vestibulum vehicula erat vitae enim volutpat ornare. Integer ut mi et mauris malesuada porta. Praesent interdum at nunc ac lobortis. Nulla malesuada rutrum iaculis. Duis vel viverra felis. Sed fermentum feugiat mi, sed porttitor orci varius in.

Integer sit amet mi dapibus, ultricies ante ultrices, molestie ante. Aliquam eleifend mi eget dolor commodo, nec pellentesque odio fermentum. Aenean tincidunt odio vitae maximus laoreet. Vestibulum blandit iaculis felis, ac laoreet libero aliquet sed. Quisque gravida ac turpis et egestas. Morbi id dolor tortor. Morbi egestas, erat in dictum interdum, est massa blandit leo, vel commodo eros eros a lectus.

Vestibulum mattis eu diam sit amet vehicula. Maecenas egestas tortor non faucibus egestas. Pellentesque ac elementum ex. Proin sed tortor tempor, sagittis augue sed, sollicitudin est. Nullam ac luctus justo. Phasellus sit amet finibus felis. Sed vel nibh commodo, lobortis nulla nec, ornare magna. Suspendisse potenti. Sed maximus, enim sit amet ullamcorper accumsan, ante mi venenatis ipsum, ultricies pharetra sapien nisi quis dui. Nullam consectetur aliquam eros elementum aliquam.

Morbi dictum a eros id fermentum. Aliquam interdum hendrerit velit in tempor. Nam suscipit ut nulla vitae luctus. Integer pellentesque tellus id purus tempus, non faucibus erat tincidunt. Sed imperdiet enim orci, eu tempus ipsum tristique eget. Vestibulum porta sapien eu sollicitudin pharetra. Quisque tristique nulla at odio finibus, id posuere nisi laoreet. Fusce tristique, lacus vitae malesuada pellentesque, tortor quam efficitur magna, quis viverra nisi orci vel mauris. Fusce vel sem ut nulla aliquam viverra. Curabitur sodales tincidunt felis non suscipit. Nulla suscipit purus efficitur imperdiet egestas. Maecenas nec ipsum ut orci dictum maximus. Morbi tempor nec leo eget euismod. Nulla et nulla augue. In arcu velit, ullamcorper eu feugiat id, consequat ut dolor.

Suspendisse eget fringilla metus. Proin fringilla magna commodo nulla egestas, ornare pretium lacus malesuada. Vivamus dui erat, congue non pretium sit amet, hendrerit et dolor. Curabitur luctus justo non elit hendrerit pretium. Mauris pretium interdum sollicitudin. Proin fringilla lacus a euismod mattis. Nulla lobortis venenatis libero vel blandit. Praesent erat dolor, varius finibus sapien at, molestie sollicitudin augue. Donec efficitur ullamcorper efficitur. Nam odio lectus, gravida quis eleifend ac, mattis in elit. Proin eu vestibulum odio, et consequat tellus.</p>
	<pie-chart id="charts"></pie-chart>
</div>
